# Android Studio
.idea/
*.iml

# Gradle
.gradle/
local.properties

# Build output
/build/
app/build/

# Captures and Native Builds
captures/
.externalNativeBuild/
.cxx/

# macOS
.DS_Store

# Log files
*.log

# Keystore files (security sensitive)
*.keystore

# APK and JARs
*.apk
*.jar

# IntelliJ specific
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
